.background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}


.title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7rem;
    text-align: center;
}

.body label {
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

.body textarea, input {
    width: 300px;
    font-size: 15px
}

.body textarea {
    resize: none;
    height: 150px;
}

.footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    margin: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.footer button:last-child {
    color: white;
}